* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

img {
    height: 350px;
}


.cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 27px;
}

.card {
    text-align: center;

}

h3 {
    font-size: 18px;
    width: 90%;
    padding: 10px;
}